<?xml version="1.0" encoding="UTF-8"?>


<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" xmlns:util="http://www.springframework.org/schema/util"
	xsi:schemaLocation="http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.0.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
		http://www.springframework.org/schema/util 
      	http://www.springframework.org/schema/util/spring-util-3.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="dz.gov.mesrs.sii"
		annotation-config="true" />

<!-- 	<context:property-placeholder
		location="file:${fve.properties.dir}/database.properties,file:${referentiel.properties.dir}/ws.properties,file:${referentiel.properties.dir}/ldap.properties,file:${referentiel.properties.dir}/document.properties,classpath:application-grh.properties" />
	<import resource="classpath*:applicationContext-data.xml" />
 -->

	<bean
		class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
		<property name="ignoreResourceNotFound">
			<value>true</value>
		</property>
		<property name="locations">
			<list>
				<value>file:${progres.properties.dir}/database.properties</value>
				<value>file:${progres.properties.dir}/ws.properties</value>
				<value>file:${progres.properties.dir}/ldap.properties</value>
				<value>file:${progres.properties.dir}/document.properties</value>
				<value>file:${progres.properties.dir}/cas.properties</value>
				
				<value>file:${grh.properties.dir}/cas.properties</value>
				<value>classpath:application.properties</value>
			</list>
		</property>
	</bean>
	
	<import resource="classpath*:applicationContext-data.xml" />
	
	<bean id="mapper" class="org.dozer.DozerBeanMapper">
		<property name="mappingFiles">
			<list>

				<!-- @author: M.MESSAOUDI Integration des fichiers de maping du referentiel 
					dans la FVE/ solution provisoir pour appliquer le mapping entre les entites 
					du referentiel en attandant la creatiion du projet fwk commun -->

				<!-- referentiel:start -->
				<value>dozer-contrat-mapping.xml</value>
				<value>dozer-partenaire-mapping.xml</value>
				<value>dozer-individu-mapping.xml</value>
				<value>dozer-affectation.mapping.xml</value>
				<value>dozer-coordonnee-mapping.xml</value>
				<value>dozer-nomenclature-mapping.xml</value>
				<value>dozer-situation-mapping.xml</value>
				<value>dozer-structure-mapping.xml</value>
				<value>dozer-groupe-mapping.xml</value>
				<value>dozer-lieu-mapping.xml</value>
				<value>dozer-evenement-mapping.xml</value>
				<value>dozer-tache-mapping.xml</value>
				<value>dozer-habilitation-mapping.xml</value>
				<value>dozer-occupationlieu-mapping.xml</value>
				<value>dozer-compte-mapping.xml</value>
				<value>dozer-permission-mapping.xml</value>
				<value>dozer-document-mapping.xml</value>
				<value>dozer-version-document-mapping.xml</value>
				<value>dozer-parametrage-mapping.xml</value>
				<value>dozer-mot-cle-mapping.xml</value>
				<value>dozer-etat-equipement-mapping.xml</value>
				<value>dozer-reservation-mapping.xml</value>
				<value>dozer-equipement-mapping.xml</value>
				<value>dozer-etablissement-mapping.xml</value>
				<value>dozer-plage-adresse-mapping.xml</value>
				<value>dozer-domainelmd-mapping.xml</value>
				<value>dozer-filierelmd-mapping.xml</value>
				<value>dozer-specialitelmd-mapping.xml</value>
				<value>dozer-affectdomlmdetab-mapping.xml</value>
				<value>dozer-parametre-etab-mapping.xml</value>
				<value>dozer-affect-document.mapping.xml</value>
				<value>dozer-type-piece-constitutive-mapping.xml</value>
				<value>dozer-affectfilierelmdetab-mapping.xml</value>
				<!-- referentiel:end -->
				<!-- common start -->
				<value>dozer-communs-situation-mapping.xml</value>
				<!-- common:end -->
				<!-- grh:start -->
				<value>dozer-absence-mapping.xml</value>
				<value>dozer-status-mapping.xml</value>
				<value>dozer-corps-mapping.xml</value>
				<value>dozer-dossier-employe-mapping.xml</value>
				<value>dozer-categorie-professionnelle-mapping.xml</value>

				<value>dozer-grade-mapping.xml</value>
				<value>dozer-rubrique-mapping.xml</value>
				<value>dozer-poste-superieur-mapping.xml</value>
				<value>dozer-besoin-recrutement-mapping.xml</value>
				<value>dozer-proposition-avancement-mapping.xml</value>
				<value>dozer-stage-mapping.xml</value>
				<value>dozer-fin-activite-mapping.xml</value>
				<value>dozer-carriere-mapping.xml</value>
				<value>dozer-dossier-mapping.xml</value>
				<value>dozer-mutation-mapping.xml</value>
				<value>dozer-changement-position-mapping.xml</value>
				<value>dozer-prevision-conge-mapping.xml</value>
				<value>dozer-conge-employe-mapping.xml</value>
                 <value>dozer-dossier-medical-mapping.xml</value>
                 <value>dozer-vaccin-mapping.xml</value>
				<value>dozer-connaissance-employe-mapping.xml</value>
				<value>dozer-habilete-employe-mapping.xml</value>
                <value>dozer-visite-medicale-mapping.xml</value>
                <value>dozer-poste-emploi-mapping.xml</value>
                 <value>dozer-catalogue-formation-mapping.xml</value>
                 <value>dozer-besoin-formation-mapping.xml</value>
                 <value>dozer-evaluation-employe-mapping.xml</value>
                 <value>dozer-programme-formation-grh-mapping.xml</value>
                 <value>dozer-cycle-formation-mapping.xml</value>
                 <value>dozer-grade-cycle-formation-mapping.xml</value>
                 <value>dozer-session-formation-mapping.xml</value>
                 <value>dozer-inscription-session-formation-mapping.xml</value>
                 <value>dozer-evaluation-session-formation-mapping.xml</value>
                 <value>dozer-formateur-session-formation-mapping.xml</value>
				<!-- grh:end -->
			</list>
		</property>
	</bean>
</beans>